@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
h1 {
    text-align: center;
    color: #231f9eef;
    text-shadow: 1px 1px 2px #1b1a7ad8;

}

body {
    background-image: linear-gradient(to right , #F2CD5Ca2 , #F2A766 );
}

main {
    width: 600px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 10px #855b37c4;
}
 
h2 {
    color: #14115c;
}

p {
    text-align: justify;
}



}